<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VAPESHOP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="VAPESHOP.Properties.Settings.VapeShopConnectionString"
            connectionString="Data Source=LAPTOP-ON10URPG\KERASDAD;Initial Catalog=VapeShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <VAPESHOP.Properties.Settings>
            <setting name="project_style" serializeAs="String">
                <value>Fixed3D</value>
            </setting>
        </VAPESHOP.Properties.Settings>
    </applicationSettings>
</configuration>